/*----- Fonts -----*/
@font-face {
    font-family: bbadr ;
    src: url("../fonts/BBADR.eot") format("eot"),
    url("../fonts/BBADR.TTF") format("ttf"),
    url("../fonts/BBADR.woff") format("woff");
}
@font-face {
    font-family: bkoodb ;
    src: url("../fonts/BKOODB.eot") format("eot"),
    url("../fonts/BKOODB.TTF") format("ttf"),
    url("../fonts/BKOODB.woff") format("woff");
}
@font-face {
    font-family: btitrbd ;
    src: url("../fonts/BTITRBD.eot") format("eot"),
    url("../fonts/BTITRBD.TTF") format("ttf"),
    url("../fonts/BTITRBD.woff") format("woff");
}
/*----- General Styles -----*/
body{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(3,75,89,1) 0%, rgba(222,250,250,1) 100%);
    background-repeat: no-repeat;
    direction: rtl;
}
a{
    text-decoration: none;
}
a:hover{
    color: #cd2122;
}
.clear{
    clear: both;
}
h1,h2,h3,h4,h5{
    font-family: bkoodb;
}
img{
    border: 0;
    max-width: 100%;
}
li{
    list-style: none;
}
/*---- Main ----*/
#main{
    width: 980px;
    margin: 0 auto;
    background: #fff;
}
.top-bar{
    background-color: #f26522;
    height: 100px;
    position: relative;
    display: flex;

}
.socials{
    width: 33%;
    padding-right: 25px;
    padding-top: 25px;
}
.socials ul{

}
.socials img{
    height: 45px;
    width: 45px;
    float: right;
    margin-right: 10px;

}
.logo{
    width: 33.5%;
    height: 100%;
    

}
.logo img{
    padding-top: 15px;
    padding-right: 25px;


}
.serch{
    width: 33%;
    height: 100%;

}
.serch .serch-input{
    margin: 40px 95px 10px 10px;
    width: 136px;
    height: 27px;
    border-right: 2px solid #fff;
    border: 0px;
    border-left: 2px solid #fff;
    background-color: #252525;
}
.serch-btn{
    position: absolute;
    top: 40px;
    left: 47px;
    width: 33px;
    height: 29px;
    font-family: BKOODB;
    background: url(../images/search-btn.png) no-repeat center center #252525;
}
.top-menu{
    height: 150px;
    background-color: #111111;
    position: relative;
}
.top-menu ul{
    text-align: right;
    margin-right: 10px;
}
.top-menu ul li{
    list-style: none;
    display: block;
    float: right;
    height: 150px;
    margin-right:10px ;
    
}
.top-menu ul li a{
    color: #fff;
    font-family:bkoodb ;
    font-size: 23px;
    display: block;
    line-height: 7;
    padding-left: 5px;
    padding-right: 5px;
    

}
.top-menu ul li a.home{
    background-color: #ebebeb;
    display: block;
    color: #f26522;
    border-top: 5px solid green ;
    height: 145px;
}
.form1{
    text-align: left;
    position: absolute;
    top: 20px;
    left: 50px;
}
.form1 .username, .form1 .password{
    display: block;
    width: 166px;
    height: 38px ;
    padding-right: 5px;
    margin-top: 10px;
    font-family:bbadr ;
    font-size: 15px;
    color: #757a74;
    padding-top: 5px;
    text-decoration: center;
    text-align: center;
}
.form1 .register{
    position: absolute;
    left: 185px;
    height: 35px;
    width: 70px;
    top: 45px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
    background: #32004b;
    font-family:bkoodb ;
}
.form1 .register a{
    color: green;

}
.row2{
    height: 363px;
    background: url('../images/slider.jpg') no-repeat center center;
    position: relative;
}   
.slide-navigation .slide-next{
    background: url(../images/slide-prev.png);
    width: 88px;
    height: 84px;
    position: absolute;
    left: 0;
    top: 142px;
}
.slide-navigation .slide-prev{
    background: url(../images/slide-next.png);
    width: 88px;
    height: 84px;
    position: absolute;
    right: 0;
    top: 142px;
}
.slide-select{
    position: absolute;
    right: 50px;
    bottom: 20px;
}
.slide-select li{
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: right;
    margin-left: 5px;
}
.slide-select li a{
    position: absolute;
    width: 10px;
    height: 10px;
}
.slide-select li a.active{
    background-color: #ed1c24;
    border-radius: 50%;

}
.slide-text{
    float: left;
    color: #fff;
    width: 300px;
    margin: 32px 0 0 10px;
}
.slide-text h2{
    font-family: BTITRBD;
    font-size: 20px;
    color: #215bf0;
    background: #fff;
    width: 150px;
    opacity: 0.5;
    text-align: center;
    border-radius: 15px;
}
.slide-text p{
    color: #f6ff02;
    background: #ed1c24;
    width: 150px;
    border-radius: 15px;
    height: 84px;
    font-size: 23px;
    text-align: center;
    font-family: 'bbadr';
    margin-top: -34px;
    padding-top: 30px;

}