@font-face {
    font-family: vazir;
    src: url("fonts/Vazir.eot") format("eot"),
    url("fonts/Vazir.ttf") format("ttf"),
    url("fonts/Vazir.woff") format("woff"),
    url("fonts/Vazir.woff") format("woff");
}


body{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,78,89,1) 0%, rgba(26,128,143,1) 20%, rgba(106,190,203,1) 50%, rgba(255,255,255,1) 100%);
    margin: 0px  ;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-repeat: no-repeat ;
    font-family: vazir;
}
.title{
    width: 1400px;
    height: 40px;
    border: 0px;
    margin: 42px 84px 0px 250px;
    border: 0px solid red;
    padding: 6px 10px 48px 10px;
    position: relative;

}

.main{
    width: 1400px;
    height: 800px;
    background-image: url(main-pic1.jpg);
    border: 0;
    padding: 0;
    margin: 0px 70px 0px 260px;
    direction: rtl;
    position: fixed;
}
.main .thead{
    display: flex;
    width: 100%;
    height: 18%;
    position: relative;
    padding-top: 10px;
    background-color: rgba(146, 255, 232, 0.2);
    
}
.thead-logo{
    width: 33%;
    height: 100%;
    position: relative;
    
}
.thead-logo ul{
    list-style: none;
}
.thead-logo ul li a img{
width: 210px;
height: 119px;

}
.thead-menubar{
    width: 34%;
    height: 100%;
    text-align: center;
    
        
}
.thead-menubar ul{
    display: flex;
    list-style: none;
    position: relative;
    padding-top: 15px;
}
.thead-menubar ul li{
    position: relative;
    padding-right: 20px;
    font-size: 20px;
    
}
.thead-menubar ul li a{
    text-decoration: none;
    color: #fff;

    
}
.thead-menubar ul li a p{

}
.thead-sociallogo{
    width: 33%;
    height: 100%;
    position: relative;
    padding-right: 20px;
    direction: ltr;
}

.thead-sociallogo ul {
    display: flex;
    list-style: none;

}
.thead-sociallogo ul li{
    position: relative;
    padding-top: 20px;
    padding-right: 10px;
}
.thead-sociallogo ul li a img{
    height: 50px;
    width: 50px;
    }